@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold tracking-tight text-gray-900 my-4;
  }

  h2 {
    @apply text-lg md:text-3xl font-semibold tracking-tight text-gray-800 my-4 text-center md:text-left;
  }

  h3 {
    @apply text-xl md:text-2xl font-semibold tracking-tight text-gray-800 my-3;
  }

  h4 {
    @apply text-lg md:text-xl font-bold text-gray-800 my-2 text-center md:text-left;
  }

  h5 {
    @apply text-lg font-bold text-gray-800;
  }

  p {
    @apply text-gray-700 leading-relaxed text-[13px];
  }

  li {
    @apply text-gray-700 leading-relaxed text-[13px];
  }

  /* Liste içindeki madde işaretleri için özel stil */
  li::marker {
    @apply text-gray-400;
  }

  /* İç içe listeler için margin ayarı */
  ul,
  ol {
    @apply my-2;
  }

  /* Liste öğeleri arası boşluk */
  li + li {
    @apply mt-1;
  }

  section {
    @apply p-6 bg-white rounded-lg shadow-sm;
  }

  span {
    @apply text-black font-bold;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
